.rowBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkboxLabel {
  color: #4b5563;
  font-size: 14px;
}

.forgotLink {
  color: #1e40af !important;
  font-size: 14px !important;
  font-weight: 500 !important;
}

.forgotLink:hover {
  color: #1d3fa5 !important;
}

.checkboxLabel :global(.ant-checkbox-inner) {
  background-color: #ffffff;
  border-color: #d1d5db;
}